name: Node CI

on:
  push:
    branches:
      - gh-pages
  pull_request: {}

jobs:
  ci:
    name: Validate and Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: w3c/respec-w3c-auto-publish@v1
        with:
          ECHIDNA_TOKEN: ${{ secrets.ECHIDNA_TOKEN }}
          ECHIDNA_MANIFEST_URL: "https://w3c.github.io/screen-orientation/W3CTRMANIFEST"
          WG_DECISION_URL: "https://lists.w3.org/Archives/Public/public-webapps/2014JulSep/0627.html"
          CC: "marcos@marcosc.com"
